{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>
    <div class="row">
      <div class="col-md4 offset-4">
        {% include 'messages.html' %}
      </div>
    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
        {% if user.is_authenticated %}
        hi, {{user}} Hope you are having a good day
        {% endif %}
      </h4>

      <div class="table-responsive- mt-3">
   
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">YTubers_name</th>
              <th scope="col">City</th>
              <th scope="col">Visit</th>
            </tr>
          </thead>
          <tbody>
            {% for tuber in ytubersdash %}
            <tr>
              <th scope="row">{{tuber.id}}</th>
              <td>{{tuber.name}}</td>
              <td>{{tuber.city}}</td>
              <td>
                <div class="btn btn-accent"> <a href="{% url 'youtubers_detail' tuber.id %}" >Profile</a></div>
              </td>
            </tr>
            {% endfor %}  
          </tbody>
        </table>
    
      </div>

    </section>
  </main>

{% endblock %}