{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="tubers-page">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Tubers
      </h1>
    </div>
     
    <div class="row">
      <div class="col-md4 offset-4">
        {% include 'messages.html' %}
      </div>
    </div>

    <section class="container mt-5 mb-5">
      <div class="row ">
        <div class="col-lg-8 mb-2 ">
          <section class="tubers">



            <!-- person 1 -->
           {% for tuber in page_obj %}

            <div class="card border-0 text-center">
              <div class="feature-text">
              <a href="{% url 'youtubers_detail' tuber.id %}" >
                   <img src="{{tuber.photo.url}}" class="card-img-top" alt="team-member">
              </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{tuber.name}}</h5>
                <p class="card-text">{{tuber.role}}</p>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"> City: {{tuber.city}} </button>
                  <button class="btn btn-accent"> Age: {{tuber.age}} </button>
                  <button class="btn btn-accent"> Height: {{tuber.height}} </button>
                </div>
                <div class="person-description mt-2">
                  <button class="btn btn-accent"> Crew: {{tuber.crew}} </button>
                  <button class="btn btn-accent"> Camera: {{tuber.camera_type}} </button>
                  <button class="btn btn-accent"> Subs: {{tuber.subs_count}} </button>
                </div>
              </div>
            </div>
          
           {% endfor %}




















          </section>
        </div>

         <div class="col-lg-4 ">
          <div class="card">
            <div class="card-body">
              <p class="text-left font-weight-bolder text-black-50">
                Search Tubers
              </p>
            <form method="get">
                <div class="form-group">
                 
                  
                      {{ yt_filter.form.as_p}}
                      <button class="btn btn-accent btn-block">Search</button>
                      

               
                      </div>
              </form> 
             
            
            <!-- Display filtered results -->
            
          
            
            
            
            
            
            


             
            </div>
          </div>
        </div> 
         

       

    
      
      </div>
    </section>

    {% comment %} <div class="container section pagination-section mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if tubers.has_previous %}
           <li class="page-item"><a class="page-link" href="#">1</a></li> 
          <li class="page-item ">
            <a class="page-link" href="/youtubers/?page={{tubers.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          
         {% endif %}
         <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"> 
            {% if tubers.has_next %}
            <li class="page-item"><a class="page-link" href="#">1</a></li> 
            <li class="page-item ">
              <a class="page-link" href="/youtubers/?page={{tubers.next_page_number}}" tabindex="-1" aria-disabled="true">Next</a>
            </li>
           {% endif %}
          </li>
        </ul>
      </nav>
    </div> {% endcomment %}
    <div class="d-flex justify-content-center">
      <nav aria-label="Pagination">
          <ul class="pagination">
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1{% if filter_params %}&{{ filter_params }}{% endif %}">&laquo; First</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if filter_params %}&{{ filter_params }}{% endif %}">Previous</a>
                  </li>
              {% endif %}
  
              <li class="page-item active">
                  <a class="page-link" href="?page={{ page_obj.number }}{% if filter_params %}&{{ filter_params }}{% endif %}">{{ page_obj.number }}</a>
              </li>
  
              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if filter_params %}&{{ filter_params }}{% endif %}">Next</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if filter_params %}&{{ filter_params }}{% endif %}">Last &raquo;</a>
                  </li>
              {% endif %}
          </ul>
      </nav>
  </div>
  </main>

{% endblock %}